header {
  background: #4A90E2; 
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
/* Нижняя часть шапки */
#header-bottom {
  background: #E6E6FA; /* Лавандовый цвет */
  padding: 10px 0;
  text-align: center;
}
/* Блок об услугах компании */
#main {
  padding: 20px 0;
}
/* Блок с методами компании */
#method {
  padding: 20px 0;
  background: #F3E5F5; /* Светлый лавандовый */
}
/* Блок с портфолио компании */
#work {
  padding: 20px 0;
}
/* Подвал */
footer {
  background: #4A90E2; /* Синий цвет */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
/* Класс для одинакового размера изображений */
.img-same {
  width: 300px;      /* или иные значения, сохраняя пропорцию 3:4 */
  height: 400px;
  object-fit: cover; /* изображение будет обрезаться для заполнения заданного размера */
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_img{
    display: block;
    width: 114px;
    height: 114px;
    background-image: url(apple-icon-114x114.png);
    margin-right: 25px;
}

.logo_text{
    font-size: 24px;
    color: #202020;

}