.header{
    background-image: url('sky.png');
 
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-weight: 700;
    padding-top: 56px;
    padding: 20px 0;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;

}

.logo_img{
    display: block;
    width: 114px;
    height: 114px;
    background-image: url(apple-icon-114x114.png);
    margin-left: 25px;
}

.logo_text{
    font-size: 16px;
    color: #202020;
    margin-left: 10px;
}

.nav{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    box-sizing: 14px;
    align-items: center;
}

.nav>li{
    margin-left: 37px;
    color: #fff;
    margin-right: 25px;
}

.nav>li>a{
    text-decoration: none;
    color: #202020;
}

.nav_btn{
    background-color: #4c79f3;
    border-radius: 5px;
    padding: 6px 14px;
    color: white;
    border: none;
    font-weight: 700;
}

/* Нижняя часть шапки */
#header-bottom {
  background: #E6E6FA; /* Лавандовый цвет */
  padding: 10px 0;
  text-align: center;
}
/* Блок об услугах компании */
#main {
  padding: 20px 0;
}
/* Блок с методами компании */
#method {
  padding: 20px 0;
  background: #F3E5F5; /* Светлый лавандовый */
}
/* Блок с портфолио компании */
#work {
  padding: 20px 0;
}
/* Подвал */
footer {
  background: #4A90E2; /* Синий цвет */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
/* Класс для одинакового размера изображений */
.img-same {
  width: 300px;      /* или иные значения, сохраняя пропорцию 3:4 */
  height: 400px;
  object-fit: cover; /* изображение будет обрезаться для заполнения заданного размера */
}


